.container {
    position: relative;
    height: 100vh;
    color: #fff;
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    transition: background-image 1s ease-in-out, filter 1s ease-in-out; /* Smooth transition */
}

/* Slide-specific backgrounds */
.bg-slide-1 {
    background-image: url('./assets/images/earth\ bg.jpg'); /* Ensure the path is correct relative to public folder */
    filter: contrast(1.2) saturate(0.7) brightness(1); /* Adjust for slide 1 */
}

.bg-slide-2 {
    background-image: url('./assets/images/4k-earth-dark-planet-sjy3dokkj8ramma8.jpg'); /* Ensure the path is correct relative to public folder */
    filter: contrast(1.1) saturate(0.6) brightness(0.9); /* Adjust for slide 2 */
}

/* Logo */
.logo {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 10;
    color: #fff;
}

.logo-text {
    cursor: pointer;
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline from link */
  }

/* Content Section */
.content {
    position: absolute;
    top: 10%; /* Adjusted to bring the content higher */
    left: 10%;
    z-index: 2;
    width: 80%;
    text-align: left;
    animation: dashAnimation 1s ease-in-out;
}

.heading {
    font-size: 75px;
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

.text {
    font-size: 24px;
    line-height: 1.6;
    margin-top: 20px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

/* Dash animation for changing slides */
@keyframes dashAnimation {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Button Styles */
button {
    padding: 10px 20px;
    font-size: 18px;
    color: #0b0b0b; /* Text color */
    background-color: #007bff; /* Primary button color */
    border: none;
    border-radius: 48px; /* Changed to 48px */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container {
    position: absolute;
    bottom: 30px; /* Adjusts vertical position */
    right: 30px; /* Adjusts horizontal position */
    display: flex; /* Use flexbox for layout */
    gap: 20px; /* Space between buttons (changed to a smaller value) */
}

button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

/* Button for slide 1 */
.next-btn {
    background-color: #FFFFFF;
}

.next-btn:hover {
    background-color: #b7a4a4;
}

/* Button for slide 2 */
.prev-btn {
    background-color: #FFFFFF;
}

.prev-btn:hover {
    background-color: #b7a4a4;
}

/* More button */
.more-btn {
    background-color: #FFFFFF;
}

.more-btn:hover {
    background-color: #b7a4a4;
}
