.navbar--container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 180px;
    background-color: var(--grey-black);
    border-right: 1px solid rgb(32, 38, 46);
    transition: max-width 0.3s ease-in-out;
    height: 100vh;
}

.navbar--container.closed {
    max-width: 70px; 
    transition: max-width 0.3s ease-in-out; 
}

.navbar--container.open {
    max-width: 180px; 
    transition: max-width 0.3s ease-in-out; 
}
.navbar--container.closed .menu--title{
    display: none;
}
.navbar--container.closed a{
    display: none;
}

.navbar--container.closed .profile {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    padding: 0; 
}

.navbar--container.open .profile {
    max-height: 150px;
    padding: 10px 0;
    opacity: 1;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.icon-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100%; 
}

.icon-name {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 100%; 
    top: 50%; 
    transform: translateY(-50%); 
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    font-size: 12px;
    z-index: 1;
}

.icon-container:hover .icon-name {
    visibility: visible;
    opacity: 1;
}

.navbar--menu{
    display:flex;
    color:var(--text-grey);
    justify-content: space-between;
    align-items: center;
    padding:10px 10px;
    font-size: 1rem;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding:20px 20px;
    color:var(--text-grey);
}
.profile button{
    border-radius: 50%;
    background: var(--grey-black);
    padding: 16px 20px;
    cursor: default;
}
.profile--designation{
    font-size: .9rem;
    text-transform: capitalize;
}
ul.navbar{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    flex-grow: 1;
}

ul.navbar li{
    display: flex;
    gap:15px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
ul.navbar li img{
    width: 15px;
    height: 15px;
}
.navbar--group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;
    padding: 15px;
    background: linear-gradient(95deg, rgba(45, 55, 64, 0.5) 0px, rgba(39, 45, 52, 0.5) 100%);
}
ul.navbar li a{
    color: var(--text-grey);
    font-size: .9rem;
    line-height: 20px;
}
.navbar--subtitles{
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    font-size: small;
    color: var(--text-grey);

}
ul.navbar li a:hover{
    color: var(--text-white);
}